<!DOCTYPE html>
html
	head   //这是页面的head，其中还有要用到的一些head文件如bootstrap以及jquery等
		meta(charset="utf-8")
		title #{title}
		include ./includes/head
	body   //这是页面的body，其中有header部分以及主体的body内容，需要到相应的jade文件中访问
		include ./includes/header
		block content