extends ../layout

block content
    .container
        p this is ge channel
        #{title}
            ul.channel-list.clearfix
                li
                    a(href="/channel/idea").channel-arrow
                    a(href="/channel/idea").channel-img
                        img(src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg" alt="创意")
                        .channel-name-warp 创意
                li
                    a(href="/channel/idea").channel-arrow
                    a(href="/channel/idea").channel-img
                        img(src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg" alt="创意")
                        .channel-name-warp 创意
                li
                    a(href="/channel/idea").channel-arrow
                    a(href="/channel/idea").channel-img
                        img(src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg" alt="创意")
                        .channel-name-warp 创意
                li
                    a(href="/channel/idea").channel-arrow
                    a(href="/channel/idea").channel-img
                        img(src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg" alt="创意")
                        .channel-name-warp 创意
                li
                    a(href="/channel/idea").channel-arrow
                    a(href="/channel/idea").channel-img
                        img(src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg" alt="创意")
                        .channel-name-warp 创意